

@font-face {
    font-family: 'Shabnam';
    src: url('../font/shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shabnam';
    src: url('../font/shabnam/Shabnam-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Shabnam';
    src: url('../font/shabnam/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Shabnam';
    src: url('../font/shabnam/Shabnam-Thin.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

* {
    font-family: 'Shabnam';
    font-weight: bold;
}

.ss{
font-weight: bolder;
font-size: 30px;
}

.header-logo{
    width: 150px;
    position: relative;
}

.sh-modul{
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
}

@media (max-width: 640px) {
    .header-logo {
        width: 100px;
    }
    .sh-modul{
        width: 95%;
        margin: 0 auto;
        border-radius: 15px;
    }
}

/* .text-lime-400{
    color: #9BEC00;
}

.bg-lime-400{
    color: #9BEC00;
} */